<div
  id="menu"
  class="main-menu"
>
  <div class="container main-menu__container">
    <div class="main-menu__wrap">
      {% view "^search" with {
        search: main_menu.search
      } %}

      <div class="main-menu__menu main-accordion">
        {% for item in main_menu.menu.items %}
          <div class="main-menu__menu-item">
            {% if item.accordion_1 %}
              <div class="main-accordion__item main-menu__accordion-item">
                <a
                  class="btn main-accordion__btn main-menu__accordion-btn main-menu__menu-link {{ item.accordion_1.heading.class }}"
                  tabindex="0"
                  role="button"
                  data-href="/"
                >
                  {{ item.accordion_1.heading.text }}

                  {% view "@icon" with {
                    icon: {
                      class: "main-menu__accordion-icon main-menu__accordion-icon--plus",
                      name: "sprite-mono.svg#plus"
                    }
                  } %}

                  {% view "@icon" with {
                    icon: {
                      class: "main-menu__accordion-icon main-menu__accordion-icon--minus",
                      name: "sprite-mono.svg#minus"
                    }
                  } %}
                </a>

                <ul class="main-accordion__list main-menu__accordion-list">
                  {% for item in item.accordion_1.list.items %}
                    <li>
                      {% view "@button" with {
                        button: item
                      } %}
                    </li>
                  {% endfor %}
                </ul>
              </div>
            {% endif %}

            {% if item.btns %}
              {% for item in item.btns %}
                {% view "@button" with {
                  button: item
                } %}
              {% endfor %}
            {% endif %}

            {% if item.accordion_2 %}
              <div class="main-accordion__item main-menu__accordion-item">
                <a
                  class="btn main-accordion__btn main-menu__accordion-btn main-menu__menu-link {{ item.accordion_2.heading.class }}"
                  tabindex="0"
                  role="button"
                  data-href="/"
                >
                  {{ item.accordion_2.heading.text }}

                  {% view "@icon" with {
                    icon: {
                      class: "main-menu__accordion-icon main-menu__accordion-icon--plus",
                      name: "sprite-mono.svg#plus"
                    }
                  } %}

                  {% view "@icon" with {
                    icon: {
                      class: "main-menu__accordion-icon main-menu__accordion-icon--minus",
                      name: "sprite-mono.svg#minus"
                    }
                  } %}
                </a>

                <ul class="main-accordion__list main-menu__accordion-list">
                  {% for item in item.accordion_2.list.items %}
                    <li>
                      {% view "@button" with {
                        button: item
                      } %}
                    </li>
                  {% endfor %}
                </ul>
              </div>
            {% endif %}

            {% if item.accordion_3 %}
              <div class="main-accordion__item main-menu__accordion-item">
                <a
                  class="btn main-accordion__btn main-menu__accordion-btn main-menu__menu-link"
                  tabindex="0"
                  role="button"
                  data-href="/"
                >
                  {{ item.accordion_3.heading.text }}

                  {% view "@icon" with {
                    icon: {
                      class: "main-menu__accordion-icon main-menu__accordion-icon--plus",
                      name: "sprite-mono.svg#plus"
                    }
                  } %}

                  {% view "@icon" with {
                    icon: {
                      class: "main-menu__accordion-icon main-menu__accordion-icon--minus",
                      name: "sprite-mono.svg#minus"
                    }
                  } %}
                </a>

                <ul class="main-accordion__list main-menu__accordion-list">
                  {% for item in item.accordion_3.list.items %}
                    <li>
                      {% view "@button" with {
                        button: item
                      } %}
                    </li>
                  {% endfor %}
                </ul>
              </div>
            {% endif %}

            {% if item.btns_2 %}
              {% for item in item.btns_2 %}
                {% view "@button" with {
                  button: item
                } %}
              {% endfor %}
            {% endif %}

            {% if item.accordion_4 %}
              <div class="main-accordion__item main-menu__accordion-item">
                <a
                  class="btn main-accordion__btn main-menu__accordion-btn main-menu__menu-link"
                  tabindex="0"
                  role="button"
                  data-href="/"
                >
                  {{ item.accordion_4.heading.text }}

                  {% view "@icon" with {
                    icon: {
                      class: "main-menu__accordion-icon main-menu__accordion-icon--plus",
                      name: "sprite-mono.svg#plus"
                    }
                  } %}

                  {% view "@icon" with {
                    icon: {
                      class: "main-menu__accordion-icon main-menu__accordion-icon--minus",
                      name: "sprite-mono.svg#minus"
                    }
                  } %}
                </a>

                <ul class="main-accordion__list main-menu__accordion-list">
                  {% for item in item.accordion_4.list.items %}
                    <li>
                      {% view "@button" with {
                        button: item
                      } %}
                    </li>
                  {% endfor %}
                </ul>
              </div>
            {% endif %}
          </div>
        {% endfor %}
      </div>

      <div class="main-menu__btns">
        {% view "@button" with {
          button: {
            href: "https://t.me/mreasonofficial",
            class: "btn--quaternary btn--animate main-menu__btn",
            text: {
              text: "Телеграм"
            }
          }
        } %}

        {% view "@button" with {
          button: {
            href: "https://vk.com/mreason",
            class: "btn--quaternary btn--animate main-menu__btn",
            text: {
              text: "ВКонтакте"
            }
          }
        } %}
      </div>
    </div>
    <div class="main-menu__slider">
      {% view "@button" with {
        button: {
          class: "btn--underline main-menu__link",
          href: "#",
          text: {
            text: "Тренды"
          }
        }
      } %}

      {% view "^menu_slider" %}
    </div>
    <div class="main-menu__info">
      {% view "@image" with {
        image: main_menu.info.image
      } %}

      <a class="btn main-menu__info-btn" href="#">
        <span class="btn__text main-menu__info-text btn--underline">
          {{ main_menu.info.text }}
        </span>

        {% view "@icon" with {
          icon: {
            class: "main-menu__info-icon",
            name: "sprite-multi.svg#arrow-next"
          }
        } %}
      </a>
    </div>
  </div>
</div>