<div
  id="menu"
  class="main-mobile-menu"
>
  <div class="container main-mobile-menu__container">
    <div class="main-mobile-menu__menu main-accordion">
      {% for item in mobile_menu.menu.items %}
        <div class="main-mobile-menu__menu-item">
          {% if item.accordion_1 %}
            <div class="main-accordion__item main-mobile-menu__accordion-item">
              <a
                class="btn main-accordion__btn main-mobile-menu__accordion-btn main-mobile-menu__menu-link {{ item.accordion_1.heading.class }}"
                tabindex="0"
                role="button"
                data-href="/"
              >
                {{ item.accordion_1.heading.text }}

                {% view "@icon" with {
                  icon: {
                    class: "main-mobile-menu__accordion-icon main-mobile-menu__accordion-icon--plus",
                    name: "sprite-mono.svg#plus"
                  }
                } %}

                {% view "@icon" with {
                  icon: {
                    class: "main-mobile-menu__accordion-icon main-mobile-menu__accordion-icon--minus",
                    name: "sprite-mono.svg#minus"
                  }
                } %}
              </a>

              <ul class="main-accordion__list main-mobile-menu__accordion-list">
                {% for item in item.accordion_1.list.items %}
                  <li>
                    {% view "@button" with {
                      button: item|merge({
                        href: "#",
                        class: "main-mobile-menu__menu-link"
                      })
                    } %}
                  </li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}

          {% if item.btns %}
            {% for item in item.btns %}
              {% view "@button" with {
                button: item
              } %}
            {% endfor %}
          {% endif %}

          {% if item.accordion_2 %}
            <div class="main-accordion__item main-mobile-menu__accordion-item">
              <a
                class="btn main-accordion__btn main-mobile-menu__accordion-btn main-mobile-menu__menu-link {{ item.accordion_2.heading.class }}"
                tabindex="0"
                role="button"
                data-href="/"
              >
                {{ item.accordion_2.heading.text }}

                {% view "@icon" with {
                  icon: {
                    class: "main-mobile-menu__accordion-icon main-mobile-menu__accordion-icon--plus",
                    name: "sprite-mono.svg#plus"
                  }
                } %}

                {% view "@icon" with {
                  icon: {
                    class: "main-mobile-menu__accordion-icon main-mobile-menu__accordion-icon--minus",
                    name: "sprite-mono.svg#minus"
                  }
                } %}
              </a>

              <ul class="main-accordion__list main-mobile-menu__accordion-list">
                {% for item in item.accordion_2.list.items %}
                  <li>
                    {% view "@button" with {
                      button: item|merge({
                        href: "#",
                        class: "main-mobile-menu__menu-link"
                      })
                    } %}
                  </li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}

          {% if item.accordion_3 %}
            <div class="main-accordion__item main-mobile-menu__accordion-item">
              <a
                class="btn main-accordion__btn main-mobile-menu__accordion-btn main-mobile-menu__menu-link"
                tabindex="0"
                role="button"
                data-href="/"
              >
                {{ item.accordion_3.heading.text }}

                {% view "@icon" with {
                  icon: {
                    class: "main-mobile-menu__accordion-icon main-mobile-menu__accordion-icon--plus",
                    name: "sprite-mono.svg#plus"
                  }
                } %}

                {% view "@icon" with {
                  icon: {
                    class: "main-mobile-menu__accordion-icon main-mobile-menu__accordion-icon--minus",
                    name: "sprite-mono.svg#minus"
                  }
                } %}
              </a>

              <ul class="main-accordion__list main-mobile-menu__accordion-list">
                {% for item in item.accordion_3.list.items %}
                  <li>
                    {% view "@button" with {
                      button: item|merge({
                        href: "#",
                        class: "main-mobile-menu__menu-link"
                      })
                    } %}
                  </li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}

          {% if item.btns_2 %}
            {% for item in item.btns_2 %}
              {% view "@button" with {
                button: item
              } %}
            {% endfor %}
          {% endif %}

          {% if item.accordion_4 %}
            <div class="main-accordion__item main-mobile-menu__accordion-item">
              <a
                class="btn main-accordion__btn main-mobile-menu__accordion-btn main-mobile-menu__menu-link"
                tabindex="0"
                role="button"
                data-href="/"
              >
                {{ item.accordion_4.heading.text }}

                {% view "@icon" with {
                  icon: {
                    class: "main-mobile-menu__accordion-icon main-mobile-menu__accordion-icon--plus",
                    name: "sprite-mono.svg#plus"
                  }
                } %}

                {% view "@icon" with {
                  icon: {
                    class: "main-mobile-menu__accordion-icon main-mobile-menu__accordion-icon--minus",
                    name: "sprite-mono.svg#minus"
                  }
                } %}
              </a>

              <ul class="main-accordion__list main-mobile-menu__accordion-list">
                {% for item in item.accordion_4.list.items %}
                  <li>
                    {% view "@button" with {
                      button: item|merge({
                        href: "#",
                        class: "main-mobile-menu__menu-link"
                      })
                    } %}
                  </li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}
        </div>
      {% endfor %}
    </div>
    <div class="main-mobile-menu__slider">
      {% view "^mobile_menu_slider" %}
    </div>
    <div class="main-mobile-menu__btns">
      {% view "@button" with {
        button: {
          href: "https://t.me/mreasonofficial",
          class: "btn--quaternary btn--animate main-mobile-menu__btn",
          text: {
            text: "Телеграм"
          }
        }
      } %}

      {% view "@button" with {
        button: {
          href: "https://vk.com/mreason",
          class: "btn--quaternary btn--animate main-mobile-menu__btn",
          text: {
            text: "ВКонтакте"
          }
        }
      } %}
    </div>
  </div>
</div>