<div class="tabs {{ tabs.class }}">
  {% if tabs.title %}
    {% view "@title" with {
      title: tabs.title|default({})|merge({
        class: "tabs__title"
      })
    } %}
  {% endif %}

  <div
    role="tablist"
    class="tabs__btns {{ tabs.btns.class }}"
    {{ tabs.btns.attrs }}
  >
    {% for btn in tabs.btns.items %}
      {% view "@button" with {
        button: btn|default({})|merge({
          class: "tabs__btn" ~ (btn.class is defined ? " " ~ btn.class : "")
        })
      } %}
    {% endfor %}
  </div>

  {% for item in tabs.content.items %}
    <div
        {% if item.id %}id="{{ item.id }}"{% endif %}
        class="tabs__content {{ item.class }}"
        {{ item.attrs }}
      >
      {% if item.data.type == '@list' %}
        {% view "@list" with {
          list: item.data.content
        } %}
      {% elseif item.data.type == '@button' %}
        {% view "@button" with {
          button: item.data.content
        } %}
      {% else %}
        {{ item.data.content.text }}
      {% endif %}
    </div>
  {% endfor %}
</div>
