{% set input_type = input.element.type|default('text') %}

{% if input_type == 'checkbox' %}
  <div class="input-check {{ input.class }}">
    <input
      {% if input.id %}id="{{ input.id }}_{{ loop.index is defined ? loop.index : 0 }}"{% endif %}
      class="input-check__input {{ input.element.class }}"
      type="{{ input_type }}"
      name="{{ input.element.name }}"
      {% if input.element.text %}placeholder="{{ input.element.text }}"{% endif %}
      {{ input.element.attrs }}
    >

    <label
      {% if input.id %}for="{{ input.id }}_{{ loop.index is defined ? loop.index : 0 }}"{% endif %}
      class="input-check__label {{ input.label.class }}"
    >
      {{ input.label.text }}
    </label>
  </div>
{% elseif input_type == 'search' %}
  <input
    class="input-search {{ input.element.class }}"
    type="{{ input_type }}"
    name="{{ input.element.name }}"
    {% if input.element.text %}placeholder="{{ input.element.text }}"{% endif %}
    {{ input.element.attrs }}
  >
{% elseif input_type == 'radio'  %}
  <div class="radio-btn">
    <input
      {% if input.id %}id="{{ input.id }}_{{ loop.index is defined ? loop.index : 0 }}"{% endif %}
      class="radio-btn__input visually-hidden"
      type="{{ input_type }}"
      name="{{ input.element.name }}"
      value="{{ input.element.value }}"
      {{ input.element.attrs }}
    >
    <label
      {% if input.id %}for="{{ input.id }}_{{ loop.index is defined ? loop.index : 0 }}"{% endif %}
      class="radio-btn__label {{ input.label.class }}"
    >
      {{ input.label.text }}
    </label>
  </div>
{% else %}
  <div class="input-block {{ input.class }}">
    <label
      {% if input.id %}for="{{ input.id }}_{{ loop.index is defined ? loop.index : 0 }}"{% endif %}
      class="input-block__label {{ input.label.class }}"
    >
      {{ input.label.text }}
    </label>

    <input
      {% if input.id %}id="{{ input.id }}_{{ loop.index is defined ? loop.index : 0 }}"{% endif %}
      class="input-block__input {{ input.element.class }}"
      type="{{ input_type }}"
      name="{{ input.element.name }}"
      {% if input.element.text %}placeholder="{{ input.element.text }}"{% endif %}
      {{ input.element.attrs }}
    >

    {% if input.button %}
      {% view "@button" with {
        button: input.button
      } %}
    {% endif %}
  </div>
{% endif %}